<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- add more libraries -->
 <script src="js/ngStorage.min.js"></script>
 <script src="js/ng-cordova.min.js"></script>
 
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>


        <script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>


    <ion-header-bar class="bar-solinte">



      <h1 style='color: white' class="title">Agregar Rol</h1>

          <div class="buttons">
    <button style='color: white !important;     border: none !important; ' class="bar-solinte icon ion-android-cancel" ng-click="closeModal()"></button>
  </div>

    </ion-header-bar>




    <ion-content style='background-color: #fafafa;'>

<div style='margin-top: 20px' class="list" ng-controller='addRolCtrl' >
  <label class="item item-input item-stacked-label">
    <span class="input-label">Descripcion</span>
    <input type="text" placeholder="Descripcion del Rol" ng-model='r.descripcion'>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">CUIS</span>
    <input type="text" placeholder="Cuis Sucursal" ng-model='r.cuis'>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Codigo</span>
    <input type="text" placeholder="" ng-model='r.rol_codigo'>
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Verificador</span>
    <input type="text"  placeholder="XX" ng-model='r.rol_verificador'>
  </label>
<button ng-click='agregarRol()' class="button button-positive" style="
    margin-left: 16px;
    margin-top: 30px;
">
  Agregar 
</button>

</div>



    </ion-content>
  </ion-modal-view>
</script>



        <script id="my-modal2.html" type="text/ng-template">
  <ion-modal-view>


    <ion-header-bar class="bar-solinte">



      <h1 style='color: white' class="title">Buscar por fecha</h1>

          <div class="buttons">
    <button style='color: white !important;     border: none !important;' class="bar-solinte icon ion-android-cancel" ng-click="closeModal2()"></button>
  </div>

    </ion-header-bar>




    <ion-content style='background-color: #fafafa;' ng-controller='PlaylistCtrl'>
<div style="
    
    margin-top: 20px;
    position: absolute;
    font-size: 18px;
    width: 100%;
    text-align: center;

">Seleccione la fecha deseada</div>
  <div style="
      position: absolute;
      margin-top: 70px;
      margin-left: 20px;
          width: calc(100% - 20px);
  ">
<input type="date" ng-model='fecha'>

 <button style='    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 0;
    margin-top: 0px;' class="button button-small button-positive " ng-click="buscarFecha(fecha)">Buscar</button>
</div>

  <div style="
      margin-left: 10px;
      margin-right: 10px;
      position: absolute;
      margin-top: 190px;
      font-size: 18px;
      text-align: center;
  ">{{message}}</div>
    </ion-content>
  </ion-modal-view>
</script>



  </body>
</html>
