<ion-view view-title="Acerca de Solinte App">
  <ion-nav-bar class="bar-solinte">
  <ion-nav-back-button>
  </ion-nav-back-button>`
</ion-nav-bar>

            <ion-nav-buttons side="left">
        <button  style='color: white !important' class="button button-icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>


  <ion-content style='background-color: #fafafa;'>


<div style="margin-top:30px; text-align:center">

 <p>Solinte app para Android versión 1.3 </p><br>
 <a href='https://solinte.net/politicas-de-privacidad'>Politicas de Privacidad</a><br><br>
  <a href='https://solinte.net]'>Link Web</a>
</div>
<!--
<div style="
    border-top: solid 1px lightgray;
    margin-top: 20px;
">
  
  <div class='detailPerfil'><img  style='vertical-align: middle;' src="img/ocupacion.png"> <b>Ocupacion:</b> {{perfil.ocupacion}}</div>
  <div  class='detailPerfil'><img style='vertical-align: middle;' src="img/direccion.png"> <b>Residencia:</b> {{perfil.vive_en}}</div>
  <div  class='detailPerfil'><img style='vertical-align: middle;' src="img/web.png"> <b>Sitio web:</b> {{perfil.sitio_web}}</div>
</div>
-->
  </ion-content>
</ion-view>
