<ion-view view-title="Roles">
  <ion-nav-bar class="bar-solinte">
  <ion-nav-back-button>
  </ion-nav-back-button>`
</ion-nav-bar>
      <ion-nav-buttons side="right">
        <button  ng-click="openModal()" style='color: white !important' class="button button-icon ion-plus-circled" >
        </button>
      </ion-nav-buttons>
            <ion-nav-buttons side="left">
        <button  style='color: white !important' class="button button-icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>


  <ion-content>

  
  <ion-list>
<div ng-repeat="rol in roles" class="" style="
    border-bottom: solid 1px lightgray;
">
  <ion-item style='    border-bottom: none !important; ' click-for-options>



      <p>{{rol.denominacion}}</p>
    
<ion-option-button  ng-click='infoDetalle(rol.rid)' style='background-color: #FF6B00 !important' class="button-assertive">Saldo</ion-option-button>
    <ion-option-button ng-click='infoCompartir(rol.sucursal.cuis,rol.codigo,rol.verificadores)'style='background-color: #2A4924 !important' class="button-positive icon ion-gear-b"></ion-option-button>
    

  </ion-item>

   <img style='margin-top: 10px; width: 100%;    max-height: 127px;'  ng-src="{{rol.sucursal.img_encabezado}}">

</div>
</ion-list>


  </ion-content>
</ion-view>
